.animated {
	-webkit-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	

	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-duration: .3s;
	-o-animation-duration: .3s;
	animation-duration: .3s;

	-webkit-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@-webkit-keyframes start {

	0% {
		-webkit-transform: translateX(-20px);
	}

	100% {
		-webkit-transform: translateX(20px);
	}
}

@-o-keyframes start {

	0% {
		-o-transform: translateX(-20px);
	}

	100% {
		-o-transform: translateX(20px);
	}
}

@keyframes start {

	0% {
		transform: translateX(-20px);
	}

	100% {
		transform: translateX(20px);
	}
}

.animation-start {
	-webkit-animation-name: start;
	-o-animation-name: start;
	animation-name: start;

	-webkit-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;

	-webkit-animation-duration: .2s;
	-o-animation-duration: .2s;
	animation-duration: .2s;
}

@-webkit-keyframes chrome {

	0% {
		-webkit-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}

	25% {
		-webkit-transform: translateX(-20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	50% {
		-webkit-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(10deg);
	}

	75% {
		-webkit-transform: translateX(20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	100% {
		-webkit-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}
}

@-o-keyframes chrome {

	0% {
		-o-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}

	25% {
		-o-transform: translateX(-20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	50% {
		-o-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(10deg);
	}

	75% {
		-o-transform: translateX(20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	100% {
		-o-transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}
}

@keyframes chrome {

	0% {
		transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}

	25% {
		transform: translateX(-20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	50% {
		transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(10deg);
	}

	75% {
		transform: translateX(20px) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(50deg);
	}

	100% {
		transform: translateX(0) translateY(50px) rotateX(30deg) rotateY(15deg) rotateZ(90deg);
	}
}

.animation-chrome {
	-webkit-animation-name: chrome;
	-o-animation-name: chrome;
	animation-name: chrome;

	-webkit-animation-duration: .2s;
	-o-animation-duration: .2s;
	animation-duration: .2s;
}


@-webkit-keyframes safari {
	0% {
		-webkit-transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}

	25% {
		-webkit-transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	50% {
		-webkit-transform: translateX(-50px) translateY(-50px) rotateX(180deg);
	}

	75% {
		-webkit-transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	100% {
		-webkit-transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}
}

@-o-keyframes safari {
	0% {
		-o-transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}

	25% {
		-o-transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	50% {
		-o-transform: translateX(-50px) translateY(-50px) rotateX(180deg);
	}

	75% {
		-o-transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	100% {
		-o-transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}
}

@keyframes safari {
	0% {
		transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}

	25% {
		transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	50% {
		transform: translateX(-50px) translateY(-50px) rotateX(180deg);
	}

	75% {
		transform: translateX(-50px) translateY(0px) rotateX(70deg);
	}

	100% {
		transform: translateX(-50px) translateY(-50px) rotateX(20deg);
	}
}


.animation-safari {
	-webkit-animation-name: safari;
	-o-animation-name: safari;
	animation-name: safari;
}


@-webkit-keyframes firefox {
	0% {
		-webkit-transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}

	25% {
		-webkit-transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	50% {
		-webkit-transform: translateX(-40px) translateY(20px) rotateZ(180deg);
	}

	75% {
		-webkit-transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	100% {
		-webkit-transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}
}


@-o-keyframes firefox {
	0% {
		-o-transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}

	25% {
		-o-transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	50% {
		-o-transform: translateX(-40px) translateY(20px) rotateZ(180deg);
	}

	75% {
		-o-transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	100% {
		-o-transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}
}


@keyframes firefox {
	0% {
		transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}

	25% {
		transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	50% {
		transform: translateX(-40px) translateY(20px) rotateZ(180deg);
	}

	75% {
		
		transform: translateX(-20px) translateY(0px) rotateZ(90deg);
	}

	100% {
		transform: translateX(0px) translateY(-20px) rotateZ(0deg);
	}
}


.animation-firefox {
	-webkit-animation-name: firefox;
	-o-animation-name: firefox;
	animation-name: firefox;
}


@-webkit-keyframes opera {
	25% {
		-webkit-transform: translateX(-30px) translateY(-40px) rotateZ(-20deg);
	}

	50% {
		-webkit-transform: translateX(0) translateY(0) rotateX(0);
	}

	75% {
		
		-webkit-transform: translateX(30px) translateY(-40px) rotateZ(20deg);
	}

	100% {
		-webkit-transform: translateX(0) translateY(0) rotateX(0);
	}
}

@-o-keyframes opera {
	25% {
		-o-transform: translateX(-30px) translateY(-40px) rotateZ(-20deg);
	}

	50% {
		-o-transform: translateX(0) translateY(0) rotateX(0);
	}

	75% {
		
		-o-transform: translateX(30px) translateY(-40px) rotateZ(20deg);
	}

	100% {
		-o-transform: translateX(0) translateY(0) rotateX(0);
	}
}

@keyframes opera {
	25% {
		transform: translateX(-30px) translateY(-40px) rotateZ(-20deg);
	}

	50% {
		transform: translateX(0) translateY(0) rotateX(0);
	}

	75% {
		
		transform: translateX(30px) translateY(-40px) rotateZ(20deg);
	}

	100% {
		transform: translateX(0) translateY(0) rotateX(0);
	}
}


.animation-opera {
	-webkit-animation-name: opera;
	-o-animation-name: opera;
	animation-name: opera;

	-webkit-animation-duration: .4s;
	-o-animation-duration: .4s;
	animation-duration: .4s;
}


@keyframes ie {

	0% {
		transform: translateX(30px) translateY(30px) rotateY(-70deg);
	}

	25% {
		transform: translateX(30px) translateY(30px) rotateY(0deg) scale(1.2);
	}

	50% {
		transform: translateX(30px) translateY(30px) rotateY(90deg);
	}

	75% {
		transform: translateX(30px) translateY(30px) rotateY(0deg) scale(1.2) ;
	}

	100% {
		transform: translateX(30px) translateY(30px) rotateY(-70deg);
	}
}


.animation-ie {
	-webkit-animation-name: ie;
	-o-animation-name: ie;
	animation-name: ie;
	-webkit-animation-duration: .7s;
	-o-animation-duration: .7s;
	animation-duration: .7s;
}

@-webkit-keyframes title {
	0% {
		-webkit-transform: scale(1) rotateZ(15deg);
	}

	25% {
		-webkit-transform: scale(.9) rotateZ(0deg);
	}

	50% {
		-webkit-transform: scale(.7) rotateZ(-15deg);
	}

	75% {
		-webkit-transform: scale(.9)  rotateZ(0deg);
	}

	100% {
		-webkit-transform: scale(1) rotateZ(15deg);
	}
}

@-o-keyframes title {
	0% {
		-o-transform: scale(1) rotateZ(15deg);
	}

	25% {
		-o-transform: scale(.9) rotateZ(0deg);
	}

	50% {
		-o-transform: scale(.7) rotateZ(-15deg);
	}

	75% {
		-o-transform: scale(.9)  rotateZ(0deg);
	}

	100% {
		-o-transform: scale(1) rotateZ(15deg);
	}
}

@keyframes title {
	0% {
		transform: scale(1) rotateZ(15deg);
	}

	25% {
		transform: scale(.9) rotateZ(0deg);
	}

	50% {
		transform: scale(.7) rotateZ(-15deg);
	}

	75% {
		transform: scale(.9)  rotateZ(0deg);
	}

	100% {
		transform: scale(1) rotateZ(15deg);
	}
}


.animation-title {
	-webkit-animation-name: title;
	-o-animation-name: title;
	animation-name: title;
}

.animated-stop {
	
	-webkit-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
